<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>也是rollback-_-请确定所有服务都被启动了再rollback</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Discover:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>PROD-CD-API-129/171(/xvdb/)</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles></sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand># 将6555的服务全部切换到5555上
nginx_conf_dir=/root/gezbox/MrWind-Configer/nginx_conf/
nginx_link=/root/gezbox/MrWind-Configer/nginx_conf/core_data_api.conf
target_path_6000=core_data_api_6000.conf
target_path_6100=core_data_api_6100.conf

code_dir_link=/root/gezbox/code_dir_link

if [[ -L &quot;$nginx_link&quot;  &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_6000&quot; ]]
then
    configure_file=$target_path_6100
    code_dir=/xvdb/MrWind-Dispatcher/
    echo &quot;Switching [6100] to be [ACTIVE]...&quot;
elif [[ -L &quot;$nginx_link&quot; &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_6100&quot; ]]
then
    configure_file=$target_path_6000
    code_dir=/root/gezbox/Atom/
    echo &quot;Switching [6000] to be [ACTIVE]...&quot;
fi
# 更新Nginx配置文件软链接指向ACTIVE
echo &quot;Relinking [$nginx_link] to [$configure_file]...&quot;
cd $nginx_conf_dir
rm -rf $nginx_link
ln -s $configure_file $nginx_link
ls -lh
# 更新代码目录软链接指向ACTIVE
echo &quot;Relinking [$code_dir_link] to [$code_dir](ACTIVE)...&quot;
rm -rf $code_dir_link
mkdir -p $code_dir
ln -s $code_dir $code_dir_link
cd /root/gezbox
ls -lh

NP=$(cat /usr/local/nginx/logs/nginx.pid)
echo &quot;Going to Restart -HUP Nginx[${NP}]...&quot;
kill -HUP ${NP}</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>