<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Discover:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@feng.gezbox.com:MrWind-Backend/MrWind-Dispatcher.git</url>
        <credentialsId>0a4c2271-377b-4927-83ce-25b5cfa5c10b</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.IgnoreNotifyCommit/>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>PROD-BL-API-210/134(/xvdb/)</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles></sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand># CI判断是否为rollback,若是,则加上IM_ROLLBACK标签
# 更新代码目录软链接指向ROLLBACK
nginx_conf_dir=/root/gezbox/Atom/MrWind-Configer/nginx_conf/
nginx_link=/root/gezbox/Atom/MrWind-Configer/nginx_conf/bl_ag.conf
target_path_x000=bl_ag_x000.conf
target_path_x100=bl_ag_x100.conf

code_dir_link=/root/gezbox/Atom/code_dir_link

if [[ -L &quot;$nginx_link&quot;  &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_x000&quot; ]]
then
    echo &quot;Nginx conf linking to: [$(readlink $nginx_link)]&quot;
    code_dir=/xvdb/MrWind-Dispatcher/
    echo &quot;x000 is active, going to update x100. Publishing code to [$code_dir]...&quot;
elif [[ -L &quot;$nginx_link&quot; &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_x100&quot; ]]
then
    echo &quot;Nginx conf linking to: [$(readlink $nginx_link)]&quot;
    code_dir=/root/gezbox/Atom/MrWind-Dispatcher/
    echo &quot;x100 is active, going to update x000. Publishing code to [$code_dir]...&quot;
else
    # soft links not available; INIT
    echo &quot;Nginx link not found, INIT to x000...&quot;
    code_dir=/root/gezbox/Atom/MrWind-Dispatcher/
    configure_file=$target_path_x000
    rm -rf $code_dir_link $nginx_link
    mkdir -p $code_dir
    ln -s $code_dir $code_dir_link
    ln -s $configure_file $nginx_link
fi

# 将ACTIVE的代码目录下的IM_ROLLBACK删除
cd $code_dir_link
rm -rf IM_ROLLBACK

# clean ROLLBACK CODE DIR
# rm -rf ${code_dir}/api_gateway/ ${code_dir}/business_logic_api/ ${code_dir}/tools_lib/
rm -rf ${code_dir}/tools_lib/

# change code_dir_link to where I need to publish the newest code
echo &quot;Temporary linking [$code_dir_link] to [$code_dir](ROLLBACK)...&quot;
rm -rf $code_dir_link
mkdir -p $code_dir
ln -s $code_dir $code_dir_link
cd /root/gezbox/Atom/
ls -lh
</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>PROD-BL-API-210/134(/root/gezbox/Atom/)[No Exec]</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>code_dir_link</remoteDirectory>
                  <sourceFiles>api_gateway/**, business_logic_api/**, tools_lib/**</sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>pwd &amp;&amp; ls -lh</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.28">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs class="empty-list"/>
          <projects>Deploy-AG-BL-Configer</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>PROD-BL-API-210/134(/xvdb/)</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles></sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand># CI重启rollback上的服务们(服务读标签,改端口).
. /root/gezbox/gezenv/bin/activate
env |grep VIRTUAL_ENV |wc -l

# 在我的代码目录下标记IM_ROLLBACK
code_dir_link=/root/gezbox/Atom/code_dir_link
cd $code_dir_link
touch IM_ROLLBACK
ls -lh

# 判断要重启的ROLLBACK
nginx_link=/root/gezbox/Atom/MrWind-Configer/nginx_conf/bl_ag.conf
target_path_x000=bl_ag_x000.conf
target_path_x100=bl_ag_x100.conf

if [[ -L &quot;$nginx_link&quot; &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_x000&quot; ]]
then
    echo &quot;Restarting x100 group...&quot;
    post_fix=x1
elif [[ -L &quot;$nginx_link&quot;  &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_x100&quot; ]]
then
    echo &quot;Restarting x000 group...&quot;
    post_fix=x0
fi

# 重启BL层ROLLBACK
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9001&quot; -u user -p 123 update
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9001&quot; -u user -p 123 restart &quot;${post_fix}00:*&quot;
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9001&quot; -u user -p 123 status
# 重启AG层ROLLBACK
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9002&quot; -u user -p 123 update
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9002&quot; -u user -p 123 restart &quot;${post_fix}00:*&quot;
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9002&quot; -u user -p 123 status
# 重启AG层ROLLBACK-风信
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9003&quot; -u user -p 123 update
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9003&quot; -u user -p 123 restart &quot;chatlogger_${post_fix}00:*&quot;
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9003&quot; -u user -p 123 restart &quot;talker_tier_${post_fix}00:*&quot;
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9003&quot; -u user -p 123 restart &quot;queue_${post_fix}00:*&quot;
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9003&quot; -u user -p 123 restart &quot;post_${post_fix}00:*&quot;
/usr/local/python27/bin/supervisorctl -s &quot;http://localhost:9003&quot; -u user -p 123 status
</execCommand>
                  <execTimeout>300000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>PROD-BL-API-210/134(/xvdb/)</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles></sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand># 把代码目录软链接还原成指向ACTIVE
nginx_conf_dir=/root/gezbox/Atom/MrWind-Configer/nginx_conf/
nginx_link=/root/gezbox/Atom/MrWind-Configer/nginx_conf/bl_ag.conf
target_path_x000=bl_ag_x000.conf
target_path_x100=bl_ag_x100.conf

code_dir_link=/root/gezbox/Atom/code_dir_link

if [[ -L &quot;$nginx_link&quot;  &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_x000&quot; ]]
then
    echo &quot;Nginx conf linking to: [$(readlink $nginx_link)]&quot;
    code_dir=/root/gezbox/Atom/MrWind-Dispatcher/
elif [[ -L &quot;$nginx_link&quot; &amp;&amp; &quot;$(readlink $nginx_link)&quot; = &quot;$target_path_x100&quot; ]]
then
    echo &quot;Nginx conf linking to: [$(readlink $nginx_link)]&quot;
    code_dir=/xvdb/MrWind-Dispatcher/
fi

# change code_dir_link back to where the active is
echo &quot;Relinking [$code_dir_link] to [$code_dir](ACTIVE)...&quot;
rm -rf $code_dir_link
mkdir -p $code_dir
ln -s $code_dir $code_dir_link
cd /root/gezbox/Atom
ls -lh</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>